---
name: ci
on:
  pull_request:
  push:
    branches:
      - 'release/**'
jobs:
  yamllint:
    uses: networkservicemesh/.github/.github/workflows/yamllint.yaml@main

  shellcheck:
    uses: networkservicemesh/.github/.github/workflows/shellcheck.yaml@main

  exclude-fmt-errorf:
    uses: networkservicemesh/.github/.github/workflows/exclude-fmt-errorf.yaml@main


  gke:
    environment: GKE
    name: Google Kubernetes Engine
    runs-on: ubuntu-latest
    steps:
      - name: Set up /bin permissions
        run: |
          sudo chmod -R 777 /bin
      - name: Set up go
        uses: actions/setup-go@v1
        with:
          go-version: 1.20.5
      - name: Checkout files
        uses: actions/checkout@v2
        with:
          path: ${{ github.repository }}
      - name: Run integration tests
        working-directory: ${{ github.repository }}
        run: |
          export KUBECONFIG=$(pwd)/config
          go test -count 1 -timeout 1h55m -race -v ./... -parallel 4
        env:
          ARTIFACTS_DIR: logs
      - name: Upload logs               # 9. Upload logs
        uses: actions/upload-artifact@v2
        if: ${{ always() }}
        with:
          name: logs-${{ github.run_number }}
          path: ${{ github.repository }}/logs
